# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=Android Senior Developer Portfolio

# i18n
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_SUPPORTED_LOCALES=en,my

# Vercel
VERCEL_PROJECT_ID=
VERCEL_ORG_ID=
VERCEL_TOKEN=

# Firebase Web
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Firebase Admin / SSR
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=

# Android signing
KEYSTORE_BASE64=
KEYSTORE_PASSWORD=
KEY_ALIAS=
KEY_PASSWORD=

# Android / Firebase App Distribution
FIREBASE_APP_ID=
FIREBASE_SERVICE_ACCOUNT=
